<div style="max-width: 1000px">
<mat-tab-group >
  <mat-tab label="Sequencer">
    <ng-template matTabContent><app-sequencer></app-sequencer> </ng-template>
  </mat-tab>
  <mat-tab label="AI">
    <ng-template matTabContent><app-ai></app-ai> </ng-template>
  </mat-tab>
  <mat-tab label="Voices">
    <ng-template matTabContent><app-voices></app-voices> </ng-template>
  </mat-tab>
  <mat-tab label="Settings">
    <ng-template matTabContent><app-settings></app-settings> </ng-template>
  </mat-tab>
</mat-tab-group>
</div>