<mat-card style="border: grey; margin: 5px; background-color: #f5f5f5">
  <mat-card-content>
    <div [formGroup]="settingsForm">
      <div class="gridwrapper4">
        <!-- CV Max Volts -->
        <div style="vertical-align: middle">
          CV Max. Volts @if (settingsForm.controls['cvMaxVolts'].touched) { * }
        </div>
        <div>
          <mat-form-field>
            <input
              matInput
              formControlName="cvMaxVolts"
              placeholder="Max. CV Volts"
            />

            @if (settingsForm.controls['cvMaxVolts'].hasError('required')) {
            <mat-error> Is required. </mat-error>
            } @if (settingsForm.controls['cvMaxVolts'].hasError('min')) {
            <mat-error> Minimum voltage is zero volts. </mat-error>
            } @if (settingsForm.controls['cvMaxVolts'].hasError('max')) {
            <mat-error> Maximum voltage is 12 volts </mat-error>
            }
          </mat-form-field>
        </div>
        <!-- CV Midi Channel -->
        <div>
          CV Midi Channel @if (settingsForm.controls['cvMidiChannel'].touched) {
          * }
        </div>
        <div>
          <mat-form-field>
            <input
              matInput
              formControlName="cvMidiChannel"
              placeholder="CV midi channel"
            />
            @if (settingsForm.controls['cvMidiChannel'].hasError('required')) {
            <mat-error> Is required. </mat-error>
            } @if (settingsForm.controls['cvMidiChannel'].hasError('min')) {
            <mat-error> Minimum channel is 1</mat-error>
            } @if (settingsForm.controls['cvMidiChannel'].hasError('max')) {
            <mat-error> Maximum channel is 16</mat-error>
            }
          </mat-form-field>
        </div>
        <!-- CV Min Hertz -->
        <div style="padding-top: 10px;">
          CV Min Hertz @if (settingsForm.controls['cvMinHertz'].touched) { * }
        </div>
        <div>
          <mat-form-field>
            <input
              matInput
              formControlName="cvMinHertz"
              placeholder="Min. CV Hertz"
            />
            @if (settingsForm.controls['cvMinHertz'].hasError('required')) {
            <mat-error> Is required. </mat-error>
            } @if (settingsForm.controls['cvMinHertz'].hasError('min')) {
            <mat-error> Minimum Hertz is 8. </mat-error>
            } @if (settingsForm.controls['cvMinHertz'].hasError('max')) {
            <mat-error> Maximum Hertz is 13000 </mat-error>
            }
          </mat-form-field>
        </div>
        <!-- Midi Display -->
        <div style="padding-top: 10px;">
          Display Midi Notes? @if (settingsForm.controls['midiDisplay'].touched)
          { * }
        </div>
        <div >
          <mat-slide-toggle formControlName="midiDisplay"></mat-slide-toggle>
        </div>
        <!-- Midi default channel  -->
        <div style="padding-top: 10px;">
          Midi Default Channel @if
          (settingsForm.controls['midiDefaultChannel'].touched) { * }
        </div>
        <div >
          <mat-form-field>
            <input
              matInput
              formControlName="midiDefaultChannel"
              placeholder="Default Midi Channel"
            />
            @if
            (settingsForm.controls['midiDefaultChannel'].hasError('required')) {
            <mat-error> Is required. </mat-error>
            } @if (settingsForm.controls['midiDefaultChannel'].hasError('min'))
            {
            <mat-error> Minimum channel is 1</mat-error>
            } @if (settingsForm.controls['midiDefaultChannel'].hasError('max'))
            {
            <mat-error> Maximum channel is 16</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="gridwrapper2" style="width: 100%">
        <div style="padding-top: 10px;">
          <button
            style="width: 350px; align-items: center"
            mat-raised-button
            matTooltip="Press and hold to set voltage"
            (mousedown)="cv(0, true)"
            (mouseup)="cv(0, false)"
          >
            CV Calabrator: Set Minimum Voltage
          </button>
        </div>
        <div style="padding-top: 10px;">
          <button
            style=" width: 350px; align-items: center"
            mat-raised-button
            matTooltip="Press and hold to set voltage"
            (mousedown)="cv(4095, true)"
            (mouseup)="cv(4095, false)"
          >
            CV Calibrator: Set Maximum Voltage
          </button>
        </div>
      </div>
      <div style="padding-top: 10px">
        <button mat-raised-button (click)="update()">Update</button>
      </div>
    </div>
  </mat-card-content></mat-card
>
